@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.ellipse {
  display: none;
  box-sizing: border-box;

  position: absolute;
  width: 41px;
  height: 41px;
  left: 11px;
  top: 17px;

  border: 1px solid #eeeeee;
  border-radius: 100px;
}

.sec-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #01818c;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20.3745px;
  line-height: 24px;

  color: #455a64;
}

.form-check {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16.2996px;
  line-height: 19px;

  color: #455a64;
}

.form-check .selected {
  color: #01818c !important;
}

.dropdown button {
  border: 1.01873px solid #c6c6c6 !important;
  border-radius: 9.16854px !important;
  color: #01818c !important;
  background-color: white !important;
  text-align: start;
}

.submit-btn {
  width: 138.42px;
  height: 51.6px;
  left: 510px;

  outline: none !important;
  border: none !important;

  background: #01818c !important;
  box-shadow: 0px 2.03745px 3.05618px rgba(0, 0, 0, 0.15) !important;
  border-radius: 4.07491px !important;
}

.accordion {
  border-radius: 6px !important;
  text-align: start;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: #455a64 !important;
}

.accordion-item {
  border: none !important;
}

.accordion-button {
  border: none !important;
  background: #f4fbff !important;
  border-radius: 6px !important;
  font-weight: 400 !important;
  font-size: 20.3745px !important;
  box-shadow: noen !important;
  color: #455a64 !important;
}

.accordion-body {
  background: #f7fbfd !important;
}

.upper-title {
  font-weight: 400;
  font-size: 20.3745px;
  text-align: center;

  color: #455a64;
}

#sec-II .card {
  box-sizing: border-box !important;
  border: 1px solid #2b7397 !important;
  border-radius: 10px !important;
  background-color: transparent !important;
}

#sec-II .card-title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;

  color: #3b3019 !important;
}

#sec-II .card-body li {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  text-align: center;

  color: #455a64;
}

#sec-II .old-price,
#sec-II .new-price {
  font-weight: 400;
  font-size: 16px;

  color: #455a64;
}

#sec-II .new-price {
  font-size: 20px;
}

#sec-II .card-button {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  border: none !important;

  background: #2b7397 !important;
  border-radius: 0px 0px 8px 8px !important;

  font-weight: 300 !important;
  font-size: 16px !important;

  color: #ffffff !important;
}

#card-2 {
  border-color: #32959d !important;
}

#card-2 .new-price {
  color: #32959d !important;
}

#card-2 .card-button {
  background: #32959d !important;
}

#card-3 {
  border-color: #9c7777 !important;
}

#card-3 .new-price {
  color: #9c7777 !important;
}

#card-3 .card-button {
  background: #9c7777 !important;
}

#sec-III {
  background: #ebf7fc;
}

#sec-III .sec-title {
  background-image: url("./underline.png");
  color: #043953;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

.carousel-control-btn {
  background-color: #043953;
}

#sec-III .card-body,
#sec-III .card {
  /* width: 680px !important; */
  width: 50vw !important;
  height: 45vh;

  background: #ffffff;

  box-shadow: 2px 4px 8px rgba(1, 129, 140, 0.1);
  border-radius: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

#sec-III .card-title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #043953;
}

#sec-III .card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;

  color: #455a64;
}

#sec-III .quote-1 {
  position: absolute;
  top: 30px;
  left: 30px;
}

#sec-III .quote-2 {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

#sec-III .slidder-btn {
  width: 165px;
  height: 54px;

  background: #043953;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  font-weight: 700;
  font-size: 22px;

  text-align: center;

  color: #ffffff;

  border: none !important;
}

footer {
  height: 400px;
  background: #043953;
}

footer img {
  height: 64px;
}

@media (max-width: 438px) {
  nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  }
  .ellipse {
    display: block;
  }

  #sec-I {
    padding: 0 50px;
  }

  .sec-title {
    font-size: 24px;
  }

  .submit-btn {
    border-radius: 7px !important;
  }

  .accordion-button {
    font-size: 12px !important;
  }

  .upper-title {
    display: none;
  }

  h2.accordion-header {
    width: 75% !important;
  }

  #sec-III {
    padding-bottom: 50px;
  }

  .card-content {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  .pricing {
    border-left: 1px solid #6f8b99;
    padding-left: 20px;
  }

  #sec-III .card {
    width: 100vw;
    height: 500px;
    margin-bottom: 50px;
  }

  #sec-III .card-body {
    width: 76vw !important;
    height: 644px;
  }

  #sec-III .card-title {
    font-size: 18px;
  }

  #sec-III .card-text {
    font-size: 16px;
    text-align: start;
  }

  #sec-III .quote {
    height: 24px;
  }

  #sec-III .quote-1 {
    bottom: 20px;
    right: 20px;
  }

  #sec-III .quote-2 {
    bottom: 20px;
    right: -90px;
  }

  .slidder-btn {
    display: none !important;
  }
}
